@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --primary: #004B87;
    --secondary: #1DA7E0;
    --gray: #7B7B7B;
    --gray-light: #F3F3F3;
}

.AffiliateInfocard-container {
    font-family: "Quicksand", serif;
}

.AffiliateInfocard-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.AffiliateInfocard-title {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--secondary);
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.AffiliateInfocard-subtitle {
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}

.AffiliateInfocard-content {
    color: var(--gray);
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.AffiliateInfocard-rightCol {
    width: 100%;
}

@media (min-width: 1024px) {
    .AffiliateInfocard-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .AffiliateInfocard-title {
        font-size: 17px;
    }

    .AffiliateInfocard-subtitle {
        font-size: 40px;
    }

    .AffiliateInfocard-content {
        font-size: 20px;
    }

}