@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --primary: #004B87;
    --secondary: #1DA7E0;
    --gray: #7B7B7B;
    --gray-light: #F3F3F3;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: "Quicksand", serif;
}

.benefits-title {
    display: flex;
    justify-content: center;
    color: var(--primary);
    gap: 6px;
    font-size: 30px;

}

.benefits-title span {
    color: var(--secondary);
}

.benefits-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.benefits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
    width: 72%;
    margin: auto;
}

.benefits-card p {
    font-size: 17px;
}

@media(min-width:1024px) {

    .benefits-container {
        gap: 50px;
    }

    .benefits-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 40px;
    }

    .benefits-card {
        width: 100%;
        height: 100%;

    }
}