@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --primary: #004B87;
  --secondary: #1DA7E0;
  --gray: #7B7B7B;
  --gray-light: #F3F3F3;
  --white: #fff;
  --font-primary: "Quicksand", serif;
}

.quickAcess-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.quickAcess-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quickAcess-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.quickAcess-title p {
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: var(--secondary);
}

.quickAcess-subtitle {
  font-family: var(--font-primary);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary);
  margin: 0;
}

@media (min-width:1024px) {

  .quickAcess-subtitle span,
  .quickAcess-subtitle {
    font-size: 40px;
  }

  .quickAcess-title p {
    font-size: 17px;
  }

  .quickAcessgrid-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.quickAcess-subtitle span {
  font-family: var(--font-primary);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--secondary);
}

.quickAcess-label {
  color: var(--secondary);
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.quickAcess-btn {
  display: flex;
  width: 278px;
  height: 64px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 4px;
}

.quickAcess-btn1 {
  padding: 20px;
  color: var(--gray);
  border-radius: 10px;
  border: 1px solid var(--gray);
}

.quickAcess-btn2 {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--gray-light);
  color: var(--gray);
}

.quickAcess-btn1,
.quickAcess-btn2,
.quickAcess-btn3 {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  gap: 4px;

  font-family: var(--font-primary);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;

}

.quickAcess-btn3 {
  background: var(--secondary);
  color: var(--white);
}

.quickAcessgrid-btn {
  gap: 10px;
  display: grid;
}

.quickAcessgrid-btn .quickAcessgrid-btn--first-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}