.flexRowContent--container {
    max-width: 1440px;
    width: 100%;
    padding: 0 16px;
}



.flexRowContent--affiliate-page-form {
    display: flex;
    flex-direction: column;

}

.flexRowContent--affiliate-valid-template-acess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.flexRowContent--affiliate-banner :global(.vtex-store-components-3-x-imageElement) {
    width: 100%;
}

.flexRowContent--components-valid-template {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width:1024px) {
    .flexRowContent--container {
        width: 100%;
        padding: 0 32px;
    }

    .flexRowContent--components-valid-template {
        display: flex;
        flex-direction: column !important;
    }
}