.flexRowContent--container {
    max-width: 1440px;
    width: 100%;
    padding: 0 16px;
}

.flexRowContent--affiliate-page-form {
    display: flex;
    flex-direction: column;

}

.flexRowContent--affiliate-valid-template-acess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.flexRowContent--affiliate-banner :global(.vtex-store-components-3-x-imageElement) {
    width: 100%;
}

.flexRowContent--components-valid-template {
    display: flex;
    flex-direction: column-reverse;
}

.flexRowContent--affiliate-valid-template-acess .stretchChildrenWidth .flexCol,
.flexRowContent--affiliate-page-form .stretchChildrenWidth .flexCol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;

}

.flexRowContent--components-valid-template {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.flexRow--affiliate-valid-template-acess {
    margin: 20px 0;
}

.flexRowContent--affiliate-valid-template-acess .stretchChildrenWidth .flexCol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:1024px) {
    .flexRowContent--container {
        width: 100%;
        padding: 0 32px;
    }

    .flexRowContent--components-valid-template {
        display: flex;
        flex-direction: column !important;
    }

    .flexRowContent--affiliate-valid-template-acess .stretchChildrenWidth .flexCol,
    .flexRowContent--affiliate-page-form .stretchChildrenWidth .flexCol {
        gap: 40px;
        margin: 40px 0;
    }

    .flexRowContent--components-valid-template {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .flexRow--affiliate-valid-template-acess {
        margin: 40px 0;
    }

    .flexRowContent--affiliate-valid-template-acess .stretchChildrenWidth .flexCol {
        gap: 20px;
    }
}